.draggable {
  /* height: '10px';
  background: '#ccc';
  cursor: 'row-resize';
  user-select: 'none';
  touch-action: 'none'; */
  background: '#ccc';
  /* background-color: '#bbb'; */
  background-color: darkgray;
  color: #bbb;
  height: 10px;
  width: 100%;
  margin: 0.5rem;
}
