.draggable {
  /* height: '10px';
  cursor: 'row-resize';
  touch-action: 'none'; */

  user-select: 'none';
  cursor: 'row-resize';
  touch-action: 'none';
  
  background: '#ccc';
  background-color: darkgray;
  color: #bbb;
  height: 10px;
  width: 100%;
  margin: 0.5rem;
}
